.review-container {
  width: 100vw;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  box-sizing: border-box;
  background-color: #ffffff; /* тёплый кремово-золотистый фон */
  padding: 2rem 0;
}

/* Карточка отзыва */
.review-card {
  margin-top: 5%;
  width: 380px;
  height: 350px;
  background: #ffffff; /* светло-оранжевый/кремовый */
  backdrop-filter: blur(8px);
  border: 1px solid #cacaca43; 
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
  position: relative;
  padding: 25px;
}



/* Текст отзыва */
.review-text {
  padding-top: 3%;
  font-size: 18px;
  color: #1d1d1d;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  z-index: 1;
  line-height: 1.6;
}

/* Автор */
.review-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
}

/* Аватар */
.review-avatar {
  width: 55px;
  height: 55px;
  border-radius: 30%;
  object-fit: cover;
  margin-top: 10px;
}

/* Имя */
.review-name {
  margin-top: 7%;
  font-weight: 600;
  font-size: 1.3rem;
  color: #222222; /* насыщенный тёмно-коричневый */
}

/* Звезды */
.stars {
  display: flex;
  gap: 4px;
  margin-top: 8px;
  justify-content: center;
  
}

.star {
  color: #e2a95c; /* золотисто-оранжевый акцент */
  font-size: 1.2rem;
}